@import "_variables";

.display{
    height: 100%;
    flex: 1 1 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

.todo{
    width: 80%;
    padding: 20px 30px;
    background-color:$pink;
    color: $white;
    border-radius: 20px;
    margin-bottom: 10px;
    animation: todoFadeIn .5s ease forwards;
    opacity: 0;
    transform: translateY(100px);
    @keyframes todoFadeIn {
        from{
            opacity: 0;
            transform: translateY(100px);
        }
        to{
            opacity: 1;
            transform: translateY(0);
        }
    }
    &__name{
        font-size: 30px;
        margin-bottom: 20px;
    }
    &__description{
        margin-bottom: 20px;
    }
    &__details{
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 20px;
        margin-bottom: 20px;
        opacity: 0.5;
    }
    &__priority{
        background-color: $green;
        padding: 10px 15px;
        color:$black;
        border-radius: 15px;
        font-size: 14px;
        line-height: 100%;
        text-transform: capitalize;
        &.critical{
            background-color: $red;
        }
    }
    &__done{
        padding: 10px 30px;
        font-size: 20px;
        text-transform: capitalize;
        border-radius: 20px;
        border: none;
        cursor: pointer;
    }
}