@import "_variables";

.display{
    height: 100%;
    flex: 1 1 50%;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    overflow-y: scroll;
}

