@import '_variables';

.priority{
    display: flex;
    justify-content: space-between;
    &__block{
        position: relative;
        display: flex;
    }
    &__input{
        position: absolute;
        z-index: -1000;
        opacity: 0;
        &:hover + .priority__label{
            opacity: 1;
        }
        &:checked + .priority__label{
            background-color: $green;
            opacity: 1;
            color: $white;
        }
        &:checked + .critical{
            background-color: $red;
        }
    }
    &__label{
        display: block;
        padding: 10px 15px;
        background-color: $gray;
        color:$black;
        opacity: 0.5;
        border-radius: 15px;
        font-size: 14px;
        line-height: 100%;
        transition: all .3s ease;
        cursor: pointer;
        text-transform: capitalize;
    }
}